*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Inter', sans-serif;
   
}



h2{
    font-size: 5rem;
    font-weight: bold;
}

.comming-soon{
    min-height: 100vh;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.countdown{
    
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

.day , .hour , .minute ,.second{
    font-size: 3rem;
}
img{
    height:50vw;
}
input{
    padding: 10px;
}
select{
    padding: 10px;
    width: 160px;
}
.setcounter{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn{
background-color: greenyellow;
padding: 10px;
border: none;
border-radius: 10px;
border: 1px solid green;
color:black;
}

@media only screen and (max-width:440px) {
html{
    font-size:60% ;
}
.countdown{
    width: 60vw;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
.setcounter{
    width: 85vw;
    margin: 20px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: spac
}
.box{
    margin: 10px;
}
}